# Django using Python Workshop
Name: Yadish Shaikh <br>
Roll number: 201IT028<br>
Year: 3rd<br>Branch:Information Technology

# Day 1: Python Basics
22-August-2022
<h4>Example number 1: </h4>

In [1]:
x=int(input("Enter number: "))
if x % 2==0:
      print("Number is Even")
else:
      print("Number is Odd")
print("Thank you!")

Enter number: 786
Number is Even
Thank you!

#### Example number 2:

In [2]:
x=int(input("Enter the 1st number: "))
y=int(input("Enter the 2st number: "))
if(x>y):
    print(x,"is Maximum")
    print(y,"is Minimum")
else:
    print(x,"is Minimum")
    print(y,"is Maximum")

Enter the 1st number: 69
Enter the 2st number: 420
69 is Minimum
420 is Maximum

#### Example number 3:

In [3]:
x=int(input("Enter the year: "))
if(x%400==0)or(x%100!=0)and(x%4==0):
    print("leap year")
else:
    print("Not leap year")

Enter the year: 2069
Not leap year

#### Example number 4:

In [4]:
x=int(input("Enter the Age: "))
if(x <=60):
    print("Full ticket")
elif(x>=60):
    print("Half ticket")

Enter the Age: 42
Full ticket

#### Example number 5:

In [5]:
x=int(input("Enter the 1st number: "))
y=int(input("Enter the 2st number: "))
z=int(input("Enter the 3st number: "))
if(x<z)and(y<z):
    print(z,"is maximum")
elif(y<x)and(z<x):
    print(x,"is maximum")
elif(x<y)and(z<y):
    print(y,"is maximum")
else:
    print("All numbers are equal")

Enter the 1st number: 11
Enter the 2st number: 22
Enter the 3st number: 33
33 is maximum

#### Example number 6:

In [7]:
x=int(input("Enter the  number: "))
while(x>=1):
    print(x)
    x-=1

Enter the  number: 5
5
4
3
2
1

#### Example number 7:

In [8]:
x=int(input("Enter the  number: "))
i=1
while(i<=10):
    print(x,"*",i,"=",x*i)
    i+=1

Enter the  number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

#### Example number 8:

In [9]:
x=int(input("Enter the number: "))
n=1
while(x>=1):
    n=n*x
    x=x-1
print(n)

Enter the number:  5
120

#### Example number 9:

In [11]:
x=int(input("Enter the number: "))
for i in range(x,0,-1):
    print(i)

Enter the number: 5
5
4
3
2
1

#### Example number 10:

In [13]:
x=int(input("Enter the 1st number: "))
y=int(input("Enter the 2st number: "))

#x,y=y,x
#print(x,y)

#x=x+y
#y=x-y
#x=x-y
#print(x,y)

temp=0
temp=x
x=y
y=temp
print(x,y)

Enter the 1st number: 420
Enter the 2st number: 69
69 420

# Day 2: Python
23-August-2022
<h4>Example number 1: </h4>

In [14]:
list1=[10,20,30,40,50]
print(list1)
print("Type=",type(list1))

for x in list1:
    print(x)

[10, 20, 30, 40, 50]
Type= <class 'list'>
10
20
30
40
50

#### Example number 2:

In [15]:
list1=list((10,20,30,40,50))
print(list1)
print("Type=",type(list1))

for x in list1:
    print(x)

[10, 20, 30, 40, 50]
Type= <class 'list'>
10
20
30
40
50

#### Example number 3:

In [16]:
list1=[10,20,30,40,50]
sum1=0
for x in list1:
    sum1=sum1+x

print(sum1)

150

#### Example number 4:

In [17]:
myset={10,20,30,40,50}

print(type(myset))

for x in myset:
    print(x)

<class 'set'>
40
10
50
20
30

#### Example number 5:

In [18]:
mytuple=(10,20,30,40,50)

print(type(mytuple))

for x in mytuple:
    print(x)

<class 'tuple'>
10
20
30
40
50

#### Example number 6:

In [19]:
mydict={
          'roll':101,
          'name':'Passion',
          'city':'Jalgaon'
       }

print(type(mydict))
print(mydict)
print(mydict['roll'])
print(mydict['name'])
print(mydict['city'])

<class 'dict'>
{'roll': 101, 'name': 'Passion', 'city': 'Jalgaon'}
101
Passion
Jalgaon

#### Example number 7:

In [20]:
list1=[10,20,30,40,50]
mydict={
          'data':list1
       }

print(type(mydict))
print(mydict)
print(mydict['data'])

<class 'dict'>
{'data': [10, 20, 30, 40, 50]}
[10, 20, 30, 40, 50]

#### Example number 8:

In [21]:
#no value pass, no value return
def myfun():
    print("My user define function call")


myfun()#fun call

My user define function call

#### Example number 9:

In [26]:
#value pass, no value return
def myfun(x,y):
    add=x+y
    print("Add=",add)

myfun(10,20)#fun call

Add= 30

#### Example number 10:

In [27]:
#value pass,value return
def myfun(x,y):
    add=x+y
    return add

res=myfun(10,20)#fun call
print("Result=",res)

Result= 30

#### Example number 11:

In [28]:
def myswap(x,y):
    return y,x
    
a=10
b=20
print(a,b)
a,b=myswap(a,b)
print(a,b)

10 20
20 10

#### Example number 12:

mymodule.py

In [31]:
def show():
    print("My Module")

passion.py

In [37]:
import mymodule
mymodule.show()

My Module

#### Example number 13:

mymodule1.py

In [35]:
def show(x,y):
    return x+y

passion1.py

In [40]:
from mymodule1 import*
res=show(10,20)
print("Result=",res)

Result= 30

#### Example number 14:

In [41]:
class Student:
    roll=101
    name="Passion"

s1=Student()
print(s1.roll)
print(s1.name)

101
Passion

#### Example number 15:

In [43]:
class Student:
    roll=101
    name="Passion"

    def show(abc):
        print(abc.roll)
        print(abc.name)
        
s1=Student()
s1.show()

101
Passion

#### Example number 16:

In [44]:
class Student:

    def __init__(self):
        self.roll=101
        self.name="Passion"

    def show(self):
        print(self.roll)
        print(self.name)
        
s1=Student()
s1.show()

101
Passion

### Homework example:

In [46]:
list1=[2,21,4,5,6,7,8,54,33]
for x in list1:
    if (x % 2 == 0):
        print("even no:=",x)
        
print("Thank you")

even no:= 2
even no:= 4
even no:= 6
even no:= 8
even no:= 54
Thank you

# Day 3: Python & HTML
24-August-2022
<h4>Example number 1: </h4>